# We need proper getopt on MacOS to be able to use https://github.com/alphapapa/with-emacs.sh for testing within a clean Emacs sandbox
use nix -p getopt

mkdir -p .bin
if [ -x .bin/with-emacs.sh ]; then
  true
else
  wget https://raw.githubusercontent.com/alphapapa/with-emacs.sh/0bc4f216ed101d86d2e5d52919bad39bc041bdbe/with-emacs.sh -O .bin/with-emacs.sh
  chmod +x .bin/with-emacs.sh
fi

export PATH="$(pwd)/.bin:$PATH"
